.thanh-to-n {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  width: 4346px;
  height: 3389px;
  padding: 0px;
  overflow: hidden;
}
.group-46 {
  width: 1929.04px;
  height: 1233.65px;
  position: absolute;
  top: 1280px;
  left: 2271.95px;
}
.rectangle-32 {
  background-color: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 1874.12px;
  height: 1233.65px;
  left: 0%;
  top: 103.75%;
  position: absolute;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.t-m-t-t-n-h-ng {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 45px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 4.55%;
  top: 7.32%;
  width: 48.29%;
  position: absolute;
  height: 159.02px;
}
.t-m-t-nh-1-s-n-ph-m {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 40px;
  font-family: Tahoma;
  line-height: auto;
  left: 4.55%;
  top: 19.26%;
  width: 52.96%;
  position: absolute;
  height: 115.5px;
}
.ph-v-n-chuy-n {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 40px;
  font-family: Tahoma;
  line-height: auto;
  left: 4.55%;
  top: 30.25%;
  width: 40.88%;
  position: absolute;
  height: 92.06px;
}
.line-1 {
  transform: rotate(0deg);
  width: 1645.63px;
  border: 1px solid #000000;
  left: 5.01%;
  top: 44.5%;
  position: absolute;
}
.el-3-200-200 {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 40px;
  font-family: Tahoma;
  line-height: auto;
  left: 71.64%;
  top: 20.89%;
  width: 28.35%;
  position: absolute;
  height: 63.61px;
}
.mi-n-ph {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 40px;
  font-family: Tahoma;
  line-height: auto;
  left: 71.64%;
  top: 31.2%;
  width: 26.53%;
  position: absolute;
  height: 80.35px;
}
.t-ng-c-ng {
  color: #ff597a;
  text-align: left;
  vertical-align: text-middle;
  font-size: 50px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 4.55%;
  top: 46.13%;
  width: 36.78%;
  position: absolute;
  height: 165.71px;
}
.el-3-200-2002 {
  color: #fe6dcb;
  text-align: left;
  vertical-align: text-middle;
  font-size: 45px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 64.8%;
  top: 47.89%;
  width: 32.34%;
  position: absolute;
  height: 122.19px;
}
.rectangle-33 {
  background-color: #fe539d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 1452.28px;
  height: 177.43px;
  left: 10.59%;
  top: 64.99%;
  position: absolute;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.dat-hang-ngay {
  color: #ffffff;
  text-align: center;
  vertical-align: text-middle;
  font-size: 45px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 10.59%;
  top: 66.89%;
  width: 73%;
  position: absolute;
  height: 128.89px;
}
.ti-p-t-c-mua-s-m {
  color: #ff3971;
  text-align: center;
  vertical-align: text-middle;
  font-size: 40px;
  font-family: Tahoma;
  line-height: auto;
  left: 24.03%;
  top: 85.88%;
  width: 50.91%;
  position: absolute;
  height: 93.74px;
}
.thanh-toan {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 80px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  width: 609px;
  height: 144px;
  position: absolute;
  top: 122px;
  left: 145px;
}
.rectangle-73 {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  width: 1999px;
  height: 1659px;
  border: none;
  position: absolute;
  top: 361px;
  left: 145px;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.rectangle-75 {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 1918px;
  height: 668px;
  border: none;
  position: absolute;
  top: 361px;
  left: 2283px;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.rectangle-74 {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  width: 1999px;
  height: 924px;
  border: none;
  position: absolute;
  top: 2205px;
  left: 145px;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.thong-tin-giao-hang {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 60px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  width: 653px;
  height: 84px;
  position: absolute;
  top: 396px;
  left: 208px;
}
.san-pham-trong-don-hang {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 60px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  width: 850px;
  height: 84px;
  position: absolute;
  top: 420px;
  left: 2392px;
}
.phuong-thuc-thanh-toan {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 60px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  width: 816px;
  height: 84px;
  position: absolute;
  top: 2227px;
  left: 182px;
}
.ten-nguoi-nhan {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 432px;
  height: 89px;
  position: absolute;
  top: 483px;
  left: 208px;
}
.dia-chi-nguoi-nhan {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 602px;
  height: 89px;
  position: absolute;
  top: 710px;
  left: 208px;
}
.so-dien-thoai {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 477px;
  height: 89px;
  position: absolute;
  top: 1155px;
  left: 208px;
}
.ghi-chu-tuy-chon {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 477px;
  height: 89px;
  position: absolute;
  top: 1451px;
  left: 208px;
}
.rectangle-77 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 135px;
  border: none;
  position: absolute;
  top: 572px;
  left: 208px;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.rectangle-79 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 135px;
  border: none;
  position: absolute;
  top: 1280px;
  left: 208px;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.rectangle-78 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 284px;
  border: none;
  position: absolute;
  top: 835px;
  left: 208px;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.rectangle-80 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 284px;
  border: none;
  position: absolute;
  top: 1576px;
  left: 208px;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.nhap-ten-nguoi-nhan {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 1800px;
  height: 135px;
  position: absolute;
  top: 572px;
  left: 227px;
}
.dia-chi-chi-tiet-nguoi-nhan {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 1800px;
  height: 135px;
  position: absolute;
  top: 835px;
  left: 227px;
}
.ghi-chu-ve-don-hang {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 1800px;
  height: 135px;
  position: absolute;
  top: 1583px;
  left: 245px;
}
.so-dien-thoai-nguoi-nhan {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  width: 1800px;
  height: 135px;
  position: absolute;
  top: 1280px;
  left: 227px;
}
.group-41 {
  width: 1939px;
  height: 204px;
  position: absolute;
  top: 2347px;
  left: 182px;
}
.rectangle-81 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 197px;
  border: none;
  left: 0%;
  top: 3.43%;
  position: absolute;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.thanh-toan-bang-tien-mat-khi-nhan-hang {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  left: 12.48%;
  top: 42.64%;
  width: 75.14%;
  position: absolute;
  height: 117px;
}
.thanh-toan-khi-nhan-hang-cod {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 50px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 12.48%;
  top: 0%;
  width: 87.51%;
  position: absolute;
  height: 135px;
}
.ellipse-2 {
  background-color: #6296ff;
  left: 4.84%;
  top: 32.35%;
  width: 4.12%;
  position: absolute;
  height: 80px;
  border-radius: 50%;
}
.ellipse-3 {
  background-color: #fffbfb;
  left: 5.87%;
  top: 42.15%;
  width: 2.06%;
  position: absolute;
  height: 40px;
  border-radius: 50%;
}
.group-43 {
  width: 1939px;
  height: 204px;
  position: absolute;
  top: 2347px;
  left: 182px;
}
.rectangle-812 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 197px;
  border: none;
  left: 0%;
  top: 3.43%;
  position: absolute;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.thanh-toan-bang-tien-mat-khi-nhan-hang2 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  left: 12.48%;
  top: 42.64%;
  width: 75.14%;
  position: absolute;
  height: 117px;
}
.thanh-toan-khi-nhan-hang-cod2 {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 50px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 12.48%;
  top: 0%;
  width: 87.51%;
  position: absolute;
  height: 135px;
}
.ellipse-22 {
  background-color: #6296ff;
  left: 4.84%;
  top: 32.35%;
  width: 4.12%;
  position: absolute;
  height: 80px;
  border-radius: 50%;
}
.ellipse-32 {
  background-color: #fffbfb;
  left: 5.87%;
  top: 42.15%;
  width: 2.06%;
  position: absolute;
  height: 40px;
  border-radius: 50%;
}
.group-42 {
  width: 1800px;
  height: 204px;
  position: absolute;
  top: 2594px;
  left: 183px;
}
.rectangle-813 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 197px;
  border: none;
  left: 0%;
  top: 3.43%;
  position: absolute;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.thanh-toan-online-an-toan {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  left: 13.44%;
  top: 42.64%;
  width: 80.94%;
  position: absolute;
  height: 117px;
}
.vi-dien-tu-zalopay-momo {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 50px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 13.44%;
  top: 0%;
  width: 83.22%;
  position: absolute;
  height: 135px;
}
.ellipse-23 {
  background-color: #ffffff;
  left: 5.22%;
  top: 32.35%;
  width: 4.44%;
  position: absolute;
  height: 80px;
  border-radius: 50%;
}
.group-44 {
  width: 1800px;
  height: 204px;
  position: absolute;
  top: 2834px;
  left: 182px;
}
.rectangle-814 {
  background-color: #ffffff;
  border-radius: 20px;
  width: 1800px;
  height: 197px;
  border: none;
  left: 0%;
  top: 3.43%;
  position: absolute;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
.thanh-toan-bang-the {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  vertical-align: text-middle;
  font-size: 55px;
  font-family: Tahoma;
  line-height: auto;
  left: 13.44%;
  top: 42.64%;
  width: 80.94%;
  position: absolute;
  height: 117px;
}
.the-tin-dung-ghi-no {
  color: #000000;
  text-align: left;
  vertical-align: text-middle;
  font-size: 50px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  left: 13.44%;
  top: 0%;
  width: 83.22%;
  position: absolute;
  height: 135px;
}
.ellipse-24 {
  background-color: #ffffff;
  left: 5.22%;
  top: 32.35%;
  width: 4.44%;
  position: absolute;
  height: 80px;
  border-radius: 50%;
}
.rectangle-82 {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  width: 250px;
  height: 250px;
  object-fit: cover;
  left: 2392px;
  top: 572px;
  position: absolute;
  border: none;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}
.nike-13 {
  color: #cc0e1b;
  text-align: left;
  vertical-align: text-middle;
  font-size: 60px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  width: 406px;
  height: 92px;
  position: absolute;
  top: 579px;
  left: 2706px;
}
.so-luong-1 {
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  vertical-align: text-middle;
  font-size: 60px;
  font-family: Tahoma;
  line-height: auto;
  width: 348px;
  height: 89px;
  position: absolute;
  top: 687px;
  left: 2706px;
}
.el-3-250-211d {
  color: #fe6dcb;
  text-align: left;
  vertical-align: text-middle;
  font-size: 60px;
  font-family: Tahoma;
  font-weight: 700;
  line-height: auto;
  width: 442px;
  height: 130px;
  position: absolute;
  top: 625px;
  left: 3759px;
}
